html {
    height: 100%;
    width: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

header {
    height: 10vh;
}

table {
}

.Details {
    width: 70%;
}

.Row {
    border: 1px solid gray;
    margin-bottom: 7px;
    position:relative;
    width: 100%;
    background-color: white;
}

.Select {
    float:left;

}

.Id {
    position: absolute;
    right: 0px;
}

.Black {
    background-color: black;
}

.TableName {
    float: left;
}

.ColumnName {
    float: left;
}

.ColumnType {
    float:left;
}

.ColumnSize {
    float:right;
}

.Precision {
    float:left;
}

.Scale {
    float:left;
}

.Nullable {

}

.Key {
    float:left;
}

.Description {

}


.Row-Selected {
    background-color: lightcyan;
}

a {
    text-decoration: none;
    color: black;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
