html {
    height: 100%;
    width: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

header {
    position:absolute;
    top:0px;
    height: 15vh;
    overflow:hidden;
}

.wrapper {
    position:relative;
    top:15vh;
    height:60vh;
    overflow:auto;
}

.footer {
    position:absolute;
    bottom:0px;
    height:20vh;
    overflow:hidden;
}

.Row-Selected {
    background-color: lightcyan;
}

a {
    text-decoration: none;
    color: black;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
