<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=DB\Database1.accdb" providerName="System.Data.OleDb" />
      <add name="SQLConnection" connectionString="Data Source=localhost\sqlexpress; Initial Catalog=Data_Dictionary_Bak; Integrated Security=SSPI;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="selectCommand" value="SELECT * FROM [DATA_DICTIONARY] WHERE [TABLE_NAME] = @Table ORDER BY [KEY] DESC, [COLUMN_NAME] ASC, [COLUMN_TYPE]"/>
    <add key="deleteCommand" value="DELETE FROM [DATA_DICTIONARY] WHERE ID = @ID"/>
    <add key="insertCommand" value="INSERT INTO [DATA_DICTIONARY] ([TABLE_NAME], [COLUMN_NAME], [COLUMN_TYPE], [COLUMN_SIZE], [PRECISION], [SCALE], [NULLABILITY], [KEY], [DESCRIPTION]) VALUES (@TABLE_NAME, @COLUMN_NAME, @COLUMN_TYPE, @COLUMN_SIZE, @PRECISION, @SCALE, @NULLABILITY, @KEY, @DESCRIPTION);"/>
    <add key="updateCommand" value="UPDATE [DATA_DICTIONARY] SET [TABLE_NAME] = @TABLE_NAME, [COLUMN_NAME] = @COLUMN_NAME, [COLUMN_TYPE] = @COLUMN_TYPE, [COLUMN_SIZE] = @COLUMN_SIZE, [PRECISION] = @PRECISION, [SCALE] = @SCALE, [NULLABILITY] = @NULLABILITY, [KEY] = @KEY, [DESCRIPTION] = @DESCRIPTION WHERE [ID] = @ID"/>
    <add key="applyCommand" value="UPDATE [DATA_DICTIONARY] SET [DESCRIPTION] = @DESCRIPTION WHERE [ID] = @ID"/>
    <add key="DataTypes" value="char(n) varchar(n) varchar(max) text nchar nvarchar nvarchar(max) ntext bit binary(n) varbinary varbinary(max) image tinyint smallint int bigint decimal(p,s) numeric(p,s) smallmoney money float(n) real datetime datetime2 smalldatetime date time datetimeoffset timestamp sql_variant uniqueidentifier xml cursor table"/>
  </appSettings>

</configuration>
