<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="AccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Marcus\Documents\Database3.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="deleteCommand" value="DELETE FROM [DATA_DICTIONARY] WHERE ID = ?"/>
    <add key="insertCommand" value="INSERT INTO [DATA_DICTIONARY] ([TABLE_NAME], [COLUMN_NAME], [COLUMN_TYPE], [COLUMN_SIZE], [PRECISION], [SCALE], [NULLABILITY], [KEY], [DESCRIPTION]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);"/>
    <add key="updateCommand" value="UPDATE [DATA_DICTIONARY] SET [TABLE_NAME] = ?, [COLUMN_NAME] = ?, [COLUMN_TYPE] = ?, [COLUMN_SIZE] = ?, [PRECISION] = ?, [SCALE] = ?, [NULLABILITY] = ?, [KEY] = ?, [DESCRIPTION] = ? WHERE [ID] = ?"/>
    <add key="DataTypes" value="char(n) varchar(n) varchar(max) text nchar nvarchar nvarchar(max) ntext bit binary(n) varbinary varbinary(max) image tinyint smallint int bigint decimal(p,s) numeric(p,s) smallmoney money float(n) real datetime datetime2 smalldatetime date time datetimeoffset timestamp sql_variant uniqueidentifier xml cursor table"/>
  </appSettings>

</configuration>
